nav ul li {
  display: inline-block;
  padding: 0 10px;  
}
nav ul li a {
  color: red;
}

.btn {
  border: transparent;
  background-color: red;
  padding: 10px 20px;
  color: #fff;
  border-radius: 50px;
  margin: 20px 0px;
}

.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
.pink {
  background-color: pink;
}